<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalId.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B08EE79A25FDC79433073A045D35B7517B31C262</string>
				<key>dateExpires</key>
				<string>21/08/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3041.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B08EE79A25FDC79433073A045D35B7517B31C262</string>
						<key>dateExpires</key>
						<string>21/08/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LinkKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7M7YH3F5XK</string>
						<key>name</key>
						<string>EarthID Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B08EE79A25FDC79433073A045D35B7517B31C262</string>
						<key>dateExpires</key>
						<string>21/08/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Veriff.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7M7YH3F5XK</string>
						<key>name</key>
						<string>EarthID Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B08EE79A25FDC79433073A045D35B7517B31C262</string>
						<key>dateExpires</key>
						<string>21/08/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7M7YH3F5XK</string>
						<key>name</key>
						<string>EarthID Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B08EE79A25FDC79433073A045D35B7517B31C262</string>
						<key>dateExpires</key>
						<string>21/08/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7M7YH3F5XK.com.earthid-main.ShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>7M7YH3F5XK</string>
						<key>com.apple.security.application-groups</key>
						<array/>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>6d39cdf1-1b60-407d-9199-80876d27d4c4</string>
						<key>dateExpires</key>
						<string>21/08/25</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.earthid-main.ShareExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7M7YH3F5XK</string>
						<key>name</key>
						<string>EarthID Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7M7YH3F5XK.com.earthid-main</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7M7YH3F5XK</string>
				<key>com.apple.security.application-groups</key>
				<array/>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>GlobalId.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c5ac8103-7499-41e3-8ddb-bb3c782e7331</string>
				<key>dateExpires</key>
				<string>21/08/25</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.earthid-main</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7M7YH3F5XK</string>
				<key>name</key>
				<string>EarthID Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
